.container {
  background: linear-gradient(var(--black-color), var(--black-color));
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  display: flex;
}

.sideBar {
  border-right: 1px dotted var(--white-color);
  padding: .5rem;
}

.grid {
  flex-grow: 1;
}
